

body {
    background-color: crimson;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}